<template>
    <v-card
      class="mx-auto main"
      max-width="300"
    >
      <v-date-picker
        v-model="dates"
        multiple
      />
      <v-card-actions class="actions">
        <v-btn
          depressed
          color="secondary"
          v-on:click="reset"
        >
          Reset
        </v-btn>
        <v-btn
          depressed
          color="primary"
          :loading="loading"
          v-on:click="saveValue"
        >
          Save
        </v-btn>
     </v-card-actions>
    </v-card>
</template>

<script>
  export default {
    data: () => ({
      dates: [],
      defaulValue: [],
      loading: false
    }),
    computed: {
      valueForfetch() {
        const fullDates = this.dates.map((date) => {
          return {
            date,
            value: true
          }
        });

        this.defaulValue.forEach((date) => {
          if (!this.dates.includes(date)) {
            fullDates.push({
              date,
              value: false
            });
          }
        });

        return fullDates;
      }
    },
    beforeCreate() {
      try {
        fetch('http://test.unit.homestretch.ch/').then(async (response) => {
          const json = await response.json();
          this.dates = json;
          this.defaulValue = json;
        })
      } catch {
        alert('failed to get data from server')
      }
    },
    methods: {
      reset() {
        this.dates = this.defaulValue;
      },
      async saveValue() {
        if (this.dates === this.defaulValue) return;

        this.loading = true;

        try {
          const dayOffList = await fetch('http://test.unit.homestretch.ch/save', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(this.valueForfetch)
          });

          this.defaulValue = dayOffList;
        } catch {
          alert('failed save')
        }

        this.loading = false;
      },
    }
  }
</script>

<style scoped>
  .main {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }
</style>
