<template>
  <v-app>
    <v-main>
      <DatePicker/>
    </v-main>
</v-app>
</template>

<script>
import DatePicker from './components/DatePicker';

export default {
  name: 'App',

  components: {
    DatePicker,
  },

  data: () => ({
    //
  }),
};
</script>

<style scoped>
</style>